.outside {
  position: relative;
  width: 100px;
  height: 100px;
  background: red;
}

.inside {
  position: absolute;
  width: 50px;
  height: 50px;
  background: yellow;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
          transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  border-radius: 50px;
}

.marker {
  position: absolute;
  width: 10%;
  height: 20%;
  background: purple;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.meter {
  position: relative;
  width: 83.33333px;
  height: 83.33333px;
  background: black;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 50px;
}

.meterhole {
  position: absolute;
  width: 73.33333px;
  height: 73.33333px;
  background: red;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 50px;
}

.meterholeout {
  position: absolute;
  width: 73.33333px;
  height: 73.33333px;
  background: rgba(0, 0, 0, 0);
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 50px;
  border: solid 5px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 9px red;
          box-shadow: 0 0 0 9px red;
}

.pie {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  left: calc((100px - 100px /1.2) /(-2));
  top: calc((100px - 100px /1.2) /(-2));
  border-radius: 50%;
  list-style: none;
}

.pie .slice {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.pie .slice .slice-contents {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
}

.pie .slice:nth-child(1) {
  -webkit-transform: rotate(calc(90deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2)) skewY(calc(-90deg + 90deg));
          transform: rotate(calc(90deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2)) skewY(calc(-90deg + 90deg));
}

.pie .slice:nth-child(1) .slice-contents {
  -webkit-transform: skewY(calc(90deg - 90deg));
          transform: skewY(calc(90deg - 90deg));
  background: blue;
}

.pie .slice:nth-child(2) {
  -webkit-transform: rotate(calc(0deg/(-2) + 180deg - (45deg) + 0deg /2 + 0deg /2)) skewY(calc(-90deg + 0deg));
          transform: rotate(calc(0deg/(-2) + 180deg - (45deg) + 0deg /2 + 0deg /2)) skewY(calc(-90deg + 0deg));
}

.pie .slice:nth-child(2) .slice-contents {
  -webkit-transform: skewY(calc(90deg - 0deg));
          transform: skewY(calc(90deg - 0deg));
  background: green;
}

.pie .slice:nth-child(3) {
  -webkit-transform: rotate(calc(0deg/(-2) + 180deg - (90deg) + 0deg /2)) skewY(calc(-90deg + 0deg));
          transform: rotate(calc(0deg/(-2) + 180deg - (90deg) + 0deg /2)) skewY(calc(-90deg + 0deg));
}

.pie .slice:nth-child(3) .slice-contents {
  -webkit-transform: skewY(calc(90deg - 0deg));
          transform: skewY(calc(90deg - 0deg));
  background: purple;
}

.pie .slice:nth-child(4) {
  -webkit-transform: rotate(calc(0deg/(-2) + 180deg - (135deg))) skewY(calc(-90deg + 0deg));
          transform: rotate(calc(0deg/(-2) + 180deg - (135deg))) skewY(calc(-90deg + 0deg));
}

.pie .slice:nth-child(4) .slice-contents {
  -webkit-transform: skewY(calc(90deg - 0deg));
          transform: skewY(calc(90deg - 0deg));
  background: gray;
}

.pie .slice:nth-child(5) {
  -webkit-transform: rotate(calc(90deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2 + (90deg + 90deg) /2)) skewY(calc(-90deg + 90deg));
          transform: rotate(calc(90deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2 + (90deg + 90deg) /2)) skewY(calc(-90deg + 90deg));
}

.pie .slice:nth-child(5) .slice-contents {
  -webkit-transform: skewY(calc(90deg - 90deg));
          transform: skewY(calc(90deg - 90deg));
  background: limegreen;
}

.pie .slice:nth-child(6) {
  -webkit-transform: rotate(calc(45deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2 + 90deg + (90deg + 45deg) /2)) skewY(calc(-90deg + 45deg));
          transform: rotate(calc(45deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2 + 90deg + (90deg + 45deg) /2)) skewY(calc(-90deg + 45deg));
}

.pie .slice:nth-child(6) .slice-contents {
  -webkit-transform: skewY(calc(90deg - 45deg));
          transform: skewY(calc(90deg - 45deg));
  background: lightblue;
}

.pie .slice:nth-child(7) {
  -webkit-transform: rotate(calc(0deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2 + 180deg + (90deg + 0deg) /2)) skewY(calc(-90deg + 0deg));
          transform: rotate(calc(0deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2 + 180deg + (90deg + 0deg) /2)) skewY(calc(-90deg + 0deg));
}

.pie .slice:nth-child(7) .slice-contents {
  -webkit-transform: skewY(calc(90deg - 0deg));
          transform: skewY(calc(90deg - 0deg));
  background: lightgreen;
}

.pie .slice:nth-child(8) {
  -webkit-transform: rotate(calc(0deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2 + 270deg + (90deg + 0deg) /2)) skewY(calc(-90deg + 0deg));
          transform: rotate(calc(0deg/(-2) + 180deg + 0deg /2 + 0deg /2 + 0deg /2 + 270deg + (90deg + 0deg) /2)) skewY(calc(-90deg + 0deg));
}

.pie .slice:nth-child(8) .slice-contents {
  -webkit-transform: skewY(calc(90deg - 0deg));
          transform: skewY(calc(90deg - 0deg));
  background: lightgray;
}
/*# sourceMappingURL=style.css.map */